[run]
branch = True
source = dpn_pyutils,tests

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

ignore_errors = True
